*{
    margin: 0;

}
body{
    background-color: rgb(3, 20, 56);

}
.text-primary{
    color: #00b3fa;

} 
.btn-primary{
    color: #fdfdfd;
    background-color: #ff4800;
    border-radius: 5px;
    border: 0;
    padding: 10px 15px;
    font-family:Georgia Pro Light;


}
.header{
    background: #001f4d;
    padding-top: 1px;
    margin: 0 65px;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right,left;
    border-radius: 5px;

}
/* hader and navigation styles */

nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
    color: #00b3fa;
    font-family: Georgia Pro Light;
}
nav h2{
    font-size: 40px;
    color:#ff4800;
    padding-bottom: 4px;
    font-family: algerian;
}
nav ul{
    display: flex;
    align-items: center;

}
nav li{
    list-style: none;
    margin-left: 100px;

}
/* banner styles */
.banner{
   margin:0 200px;
   display: flex;
   align-items: center;
}
.my-photo{
    height: 500px;
    width: 600px;
}
.banner-title{
   color: #ff4800;
   font-family: Andalus;

}
.banner-sub-title{
    margin-top: 10px;
    color:#00b3fa;
    font-family:Georgia Pro Light;
    

}
.banner-description{
    color:#fdfdfd ;
    font-family:Georgia Pro Light;
    padding-bottom: 10px;
}
/* main section */
main{
    max-width:1140px;
    margin: 0 auto;
}
/* about section styles */
.about{
    margin-top: 130px;
    background-color:#001f4d;
    border-radius: 10px;
    padding: 130px 150px;
    color: #d35b2c;
    text-align: center;

}
.about h3{
    font-weight: 700;
    font-family: Georgia Pro Light;
  
}    
.section-title{
    margin-bottom: 30px;
    
}   
.section-description{
    color: #00b3fa;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    color: #d35b2c;
}
.about-info-description{
    color: rgb(212, 159, 159);
}
/* what i do styles */
.my-skills{
    margin-top: 130px;
    text-align: center;
    color: #d35b2c;
}
.my-skills h3{
    font-family: Georgia Pro Light;
    background-color: #001f4d;
    margin: 30px 47%;
    padding: 5px 10px;
    border-radius: 5px;
}
.skills-container{
    display: flex;
    gap: 24px;
    
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    font-family: Georgia Pro Light;
}
.skill-description{
    color: #00b3fa;
}
.skill{
    background-color: #001f4d;
    border-radius: 10px;
    padding: 30px;
}